body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

label,
input,
p {
  margin-bottom: 10px;
}

button {
  font-size: 18px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 5px;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.dark-mode {
  background-color: #1a1a1a;
  color: #fff;
}
